<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 1 - Web Development</title>
    <link rel="stylesheet" href="assignment1_stylesheet.css">
</head>
<body id="subpages">
    <header>
        <%- include("../partials/head"); %>
        <%- include("../partials/navigation"); %>
        <%- include("../partials/banner"); %>
        <div class="subpages-banner">
            <h3> <%= title %> </h3>
        </div>
    </header>
    <main>
        
    </main>
    <footer>
        <%- include("../partials/footer"); %>
    </footer>
</body>
</html>